@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-width: 375px;
}

:root {
  /* >colors */
  --color-primary: hsl(26, 100%, 55%);
  --color-secondary: hsl(0, 0%, 100%);
  --color-accent: hsl(219, 9%, 45%);
  --color-heading: hsl(220, 13%, 13%);
  --color-: hsl(25, 100%, 94%);
  --color-f: hsl(220, 14%, 75%);
  --color-: hsl(223, 64%, 98%);
  --color-: hsla(0, 0%, 0%, 0.75);

  /* >font size */
  --fs-bold: 3.4rem;
  --fs-medium: 2.8rem;
  --fs-small: 1.6rem;
}

/* >Typography */
body {
  font-family: "Kumbh Sans", sans-serif;
}

h1 {
  font-size: var(--fs-medium);
  color: var(--color-heading);
}

p {
  font-size: var(--fs-small);
  line-height: 2.5ch;
  color: var(--color-accent);
}
